<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/signstyle.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="static/websiteplanet.png" alt="websitelogo">
            </a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </div>
    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div class="hero">
        <div class="sign-in-form">
            <h2>Sign In</h2>
            <form action="{{ url_for('sign') }}" method="post"> <!-- Added action attribute for form submission -->
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Email">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">
                <button type="submit">Submit</button>
            </form>
            <p style="color: white;">Don't have an account? <a style="color: skyblue;" href="{{url_for('registration')}}">Sign Up</a></p>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Website Planet. All rights reserved.</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
    </footer>
</body>
</html>
